[submodule "lib/TMCStepper"]
	path = lib/TMCStepper
	url = https://github.com/teemuatlut/TMCStepper.git
[submodule "lib/ESP32Encoder"]
	path = lib/ESP32Encoder
	url = https://github.com/madhephaestus/ESP32Encoder.git
[submodule "lib/ESP32AnalogRead"]
	path = lib/ESP32AnalogRead
	url = https://github.com/madhephaestus/ESP32AnalogRead.git
[submodule "lib/PID"]
	path = lib/PID
	url = https://github.com/br3ttb/Arduino-PID-Library.git
